@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(249, 249, 251, 1);
    overflow-x: hidden;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

p, h2, h3 {
    margin: 0;
}

.header-banner {
    background: #fff;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 80px;
}

.header-banner::before {
    content: "";
    position: absolute;
    top: -338px;
    left: -621px;
    width: 754px;
    height: 754px;
    border-radius: 50%;
    background-color: rgba(255, 221, 45, 0.7);
    filter: blur(200px);
    z-index: -1;
}

.header-banner::after {
    content: "";
    position: absolute;
    top: 151px;
    left: 1266px;
    width: 754px;
    height: 754px;
    border-radius: 50%;
    background-color: rgba(19, 29, 247, 0.1);
    filter: blur(200px);
    z-index: -1;
}
  
.menu {
    max-width: 1580px;
    height: 80px;
    margin: 0 auto;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 98px;
    font-weight: 400;
    font-size: 20px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    z-index: 50;
}

/* menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0047FF;
    z-index: 6;
} */

.header-burger-ghost {
    display: none;
}

.header-burge {
    display: none;
}

.logo {
    margin-left: 30px;
}

.nav-menu {
    margin: 0 auto;
}

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu ul li {
    margin-right: 20px;
}

.nav-menu ul li:first-child {
    display: none;
}

.nav-menu ul li:last-child {
    margin-right: 0;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #000;
    color: rgba(0, 0, 0, 1);
}

.nav-menu ul li a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.menu-button {
    margin-right: 30px;
}

.banner-1 {
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1520px;
    margin: 0 auto;
}

.banner-cover {
    display: flex;
    justify-content: space-between;
    
}

.banner-text {
    width: 50.6%;
    z-index: 0;
}

.banner-img {
    width: 49.4%;
}

.banner-main {
    color: #000;
    font-weight: 500;
    font-size: 64px;
}

.graphics_gs {
    position: relative;
    display: inline-block;
}

.graphics_gs::after {
    content: "";
    position: absolute;
    top: 45%;
    left: -25px;
    height: 50%;
    background-color: #FDCD2F;
    width: calc(100% + 50px);
    border-radius: 72px;
    z-index: -1;
}

.banner-post {
    padding-top: 36px;
    padding-bottom: 110px;
    color: #1F1F1F;
    font-weight: 400;
    font-size: 32px;
}

.button {
    text-decoration: none;
    color: #fff;
    background-color: #0047FF;
    border-radius: 63px;
}

.button:hover {
    background-color: rgba(0, 57, 203, 1);
}

.menu-button {
    padding: 7px 18px;
    box-shadow: 0 0 22px rgba(0, 117, 255, 0.28);
}

.banner-button {
    padding-bottom: 20px;
}

.banner-link {
    font-size: 32px;
    font-weight: 400;
    padding: 10px 28px;
    box-shadow: 0 0 41px rgba(0, 117, 255, 0.28);
}

.marketing-block {
    position: relative;
    margin: 93px auto 0 auto;
    width: 1264px;
    height: 500px;
    box-shadow: 0 17px 40px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    overflow: hidden;
}

.arrow-button {
    display: grid;
    position: absolute;
    top: 14px;
    right: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
}

.arrow-button img {
    margin: auto;
}

.arrow-button:hover {
    background-color: #dbdbdb;
}

.left-button {
    right: 86px;
}

.right-button {
    right: 15px;
}

.marketing-img
{
    object-fit: cover;
}

.about {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 80px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
    z-index: 1;
    overflow: hidden;
    margin-top: 156px;
}

.graphics_about {
    position: relative;
    z-index: 0;
} 

.graphics_about::before {
    content: "";
    background-image: url("../image/graphics_underline/line-about.svg");
    width: 100%;
    /* width: 300px; */
    height: 100%;
    /* height: 35px; */
    background-repeat: no-repeat;
    position: absolute;
    /* top: 115px; */
    top: 100%;
}

.graphics_about::after {
    content: "";
    background-image: url("../image/graphics_underline/point-about.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    position: absolute;
    top: 73%;
    /* top: 85px; */
    right: -12%;
    /* right: -35px; */
}

.about-banner {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1520px;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 91px;
}

.about::before {
    content: "";
    position: absolute;
    top: 343px;
    left: -580px;
    width: 700px;
    height: 577px;
    border-radius: 50%;
    background-color: rgba(255, 233, 35, 1);
    filter: blur(100px);
    z-index: -1;
}

.about::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 1721px;
    width: 1320px;
    height: 577px;
    border-radius: 50%;
    background-color: rgba(255, 233, 35, 1);
    filter: blur(100px);
    z-index: -1;
}

.about-title {
    font-size: 96px;
    font-weight: 700;
    z-index: 0;
}

.two_nap {
    font-size: 48px;
    font-weight: 600;
}

.about-text p {
    font-size: 24px;
    font-weight: 400;
    color: rgba(47, 47, 47, 1);
}

.advantages {
    display: flex;
    justify-content: space-around;
}

.advantages-item {
    text-align: center;
}

.advantage-figure-number {
    font-weight: 700;
    font-size: 158px;
    color: rgba(255, 235, 52, 1);
}

.advantage-figure-text {
    font-weight: 500;
    font-size: 24px;
    color: rgba(91, 91, 91, 1);
}

.bacground-test {
    position: relative;
    top: 664px;
    background-color: white;
    border-radius: 80px;
    padding-bottom: 664px;
    margin-top: -802px;
    padding-top: 138px;
    overflow: hidden;
}

.directions {
    max-width: 1520px;
    margin: 138px auto 0 auto;
}

.direction-programming {
    position: relative;
    z-index: 0;
}

.direction-programming::before {
    content: "";
    position: absolute;
    top: 57px;
    left: -297px;
    width: 812px;
    height: 812px;
    border-radius: 50%;
    background-color: rgba(19, 29, 247, 0.17);
    filter: blur(150px);
    z-index: -1;
}

.direction-programming::after {
    content: "";
    position: absolute;
    top: 205px;
    left: 1358px;
    width: 812px;
    height: 812px;
    border-radius: 50%;
    background-color: rgba(19, 29, 247, 0.17);
    filter: blur(200px);
    z-index: -1;
}

.direction-header {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 100px;
    padding-bottom: 115px;
}

.direction-title {
    font-size: 96px;
    font-weight: 700;
}

.graphics_direction-title {
    position: relative;
    z-index: 0;
}

.graphics_direction-title::before {
    content: "";
    background-image: url("../image/graphics_underline/line-prog.svg");
    width: 101.5%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    /* top: 120px; */
    left: -1.5%;
    /* left: -15px; */
}

.graphics_direction-title::after {
    content: "";
    background-image: url("../image/graphics_underline/point-prog.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    position: absolute;
    top: 73%;
    /* top: 85px; */
    right: -3%;
    /* right: -35px; */
}

.number-direction {
    color: rgba(101, 101, 101, 1);
    font-size: 48px;
    font-weight: 400;
}
.cards-directions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
}

.card {
    text-align: center;
    background: white;
    border-radius: 20px;
    max-width: 493px;
}

.card-img {
    width: 65%;
}

.card:hover {
    .card-img {
        position: relative;
        bottom: 20px;
    }
}

.card-body {
    text-align: left;
    background-color: rgba(249, 249, 249, 1);
    border-radius: 20px;
    padding: 20px 20px 30px 20px;
}

.card-title-programmer {
    text-align: left;
    color: rgba(0, 71, 255, 1);
    font-weight: 500;
    font-size: 48px;
    padding-bottom: 14px;
}

.card-text {
    color: rgba(101, 101, 101, 1);
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 40px;
}

.card-button-programmer {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 28px;
    box-shadow: 0 0 41px rgba(0, 117, 255, 0.18);
}

.button-direction-programmer {
    padding-top: 78px;
    text-align: center;
}

.directions-link {
    cursor: pointer; 
    font-size: 48px;
    font-weight: 500;
    padding: 10px 28px;
    box-shadow: 0 0 41px rgba(0, 117, 255, 0.18);
}

.direction-disign {
    padding-top: 136px;
    position: relative;
    z-index: 0;
    /* overflow: hidden; */
}

.direction-disign::before {
    content: "";
    position: absolute;
    top: 200px;
    left: -383px;
    width: 812px;
    height: 812px;
    border-radius: 50%;
    background-color: rgba(255, 229, 0, 0.22);
    filter: blur(100px);
    z-index: -1;
}

.direction-disign::after {
    content: "";
    position: absolute;
    top: 300px;
    left: 1247px;
    width: 812px;
    height: 812px;
    border-radius: 50%;
    background-color: rgba(255, 229, 0, 0.22);
    filter: blur(150px);
    z-index: -1;
}

.direction-header-disigner {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    padding-bottom: 115px;
    gap: 96px;
}

.graphics_direction-title-design {
    position: relative;
    z-index: 0;
}

.graphics_direction-title-design::before {
    content: "";
    background-image: url("../image/graphics_underline/line-design.svg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    /* top: 115px; */
    top: 100%;
}

.graphics_direction-title-design::after {
    content: "";
    background-image: url("../image/graphics_underline/point-design.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    position: absolute;
    top: 73%;
    /* top: 85px; */
    right: -9%;
    /* right: -35px; */
}

.cards-directions-disigner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
}

.card-title-disigner {
    text-align: left;
    color: rgba(255, 221, 45, 1);
    font-weight: 500;
    font-size: 48px;
    padding-bottom: 14px;
}

.card-button-disigner {
    background-color: rgba(255, 221, 45, 1);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 28px;
    box-shadow: 0 0 41px rgba(255, 245, 0, 0.28);
}

.card-button-disigner:hover {
    background-color: rgba(227, 192, 13, 1);
}

.form-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1520px;
    margin: 120px auto 0 auto;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 80px;
    justify-content: space-around;
    z-index: 0;
}

.form-container::before {
    content: "";
    position: absolute;
    top: 709px;
    left: -411px;
    width: 812px;
    height: 812px;
    border-radius: 50%;
    background-color: rgba(0, 56, 255, 0.63);
    filter: blur(200px);
    z-index: -1;
}

.form-container::after {
    content: "";
    position: absolute;
    top: -1200px;
    left: 960px;
    width: 1574px;
    height: 1574px;
    border-radius: 50%;
    background-color: rgba(255, 229, 0, 1);
    filter: blur(180px);
    z-index: -1;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.form-label {
    color: #000;
    font-weight: 500;
    font-size: 20px;
    padding-left: 29px;
}

input::-webkit-input-placeholder {
    color: rgba(127, 127, 127, 1);
    font-weight: 400;
    font-size: 24px;
}

input:-moz-placeholder {
    color: rgba(127, 127, 127, 1);
    font-weight: 400;
    font-size: 24px;
}

.form-input {
    color: rgba(62, 62, 62, 1);
    font-weight: 500;
    font-size: 24px;
    height: 65px;
    border: none;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    padding: 0 29px;
    width: 536px;
    box-sizing: border-box;
}

.form-input:focus{
    outline: none;
}

.form-direction {
    padding-bottom: 30px;
}

.submit-button {
    font-size: 32px;
    font-weight: 400;
    padding: 10px 28px;
    box-shadow: 0 0 41px rgba(0, 117, 255, 0.28);
}

.faq-container {
    max-width: 1253px;
    margin: 157px auto 0 auto;
}

.details {
    width: 100%;
    margin-bottom: 36px;
    transition: 0.3s;
    position: relative;
}

.details[open] {
    padding-bottom: 36px;
}

.faq-answer {
    font-size: 24px;
    font-weight: 400;
    background-color: rgba(246, 246, 246, 1);
    color: rgba(47, 47, 47, 1);
    box-shadow: 0 3px 11px rgba(55, 47, 39, 0.17);
    border-radius: 0 0 40px 40px;
    padding: 60px 20px 28px;
    transition: .3s;
    margin-bottom: -50px;
    position: relative;
    z-index: 0;
    margin-top: -40px;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 229, 0, 1);
    border-radius: 40px;
    height: 80px;
    font-size: 32px;
    padding: 0 10px 0 20px;
    color: rgba(255, 255, 255, 1);
    list-style: none;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.faq-toggle {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(253, 253, 253, 1);
}

.feedback-container {
    background: linear-gradient(to right, rgba(0, 8, 211, 1), rgba(23, 33, 255, 1));
    border-radius: 80px;
}

.feedback-content {
    max-width: 1520px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 119px auto 0 auto;
    padding: 50px 0;
}

.feedback-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 114px;
}

.feedback-title {
    font-size: 96px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.graphics_feedback-title {
    position: relative;
    z-index: 0;
}

.graphics_feedback-title::before {
    content: "";
    background-image: url("../image/graphics_underline/line-fb.svg");
    width: 105%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 90%;
    /* top: 105px; */
}

.graphics_feedback-title::after {
    content: "";
    background-image: url("../image/graphics_underline/point-fb.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    position: absolute;
    top: 73%;
    /* top: 85px; */
    right: -8%;
    /* right: -35px; */
}

.feedback-number {
    font-size: 48px;
    font-weight: 400;
    color: rgba(215, 215, 215, 1);
}

.cards-feedback {
    padding-top: 121px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px;
}

.card-feedback {
    height: 400px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 21px;
    box-shadow: 0 9px 13 rgba(100, 84, 69, 0.41);
    overflow: hidden;
}

.card-feedback-header {

    padding: 20px 25px;
}

.first-name {
    font-size: 32px;
    font-weight: 500;
    color: #000;
}

.last-name {
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.card-feedback-body {
    padding: 0 23px 25px 25px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(69, 69, 69, 1);
    line-height: 19.5px;
    overflow: hidden;
}

.feedback-buttons {
    padding-top: 48px;
    text-align: center;
}

.feedback-button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
}

.feedback-buttons button {
    margin-right: 15px;
}

.feedback-buttons button:last-child {
    margin-right: 0;
}

.feedback-button:hover {
    background-color: #dbdbdb;
}

.adress-container-mobile {
    display: none;
}

.adress-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: 80px;
    max-width: 1520px;
    margin: 148px auto 0 auto;
    padding: 20px 20px 20px 60px;
}

.adress-title {
    font-weight: 700;
    font-size: 96px;
}

.adress-item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 25px;
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    font-weight: 500;
}

.adress-title + .adress-item {
    padding-top: 77px;
}

.adress-item + .adress-item {
    padding-top: 40px;
}

.adress-map {
    text-align: end;
}

iframe {
    border-radius: 60px;
}

.button-end {
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.end-link {
    font-size: 40px;
    font-weight: 400;
    padding: 7px 18px;
    box-shadow: 0 0 22.4px rgba(0, 117, 255, 0.18);
}

.footer {
    background-color: black;
    border-radius: 80px 80px 0 0;
    text-align: center;
    min-height: 293px;
}

.footer-nav-menu {
    font-weight: 400;
    font-size: 20px;
    max-width: 547px;

    padding-top: 48px;
    margin: 0 auto;
}

.footer-nav-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-nav-menu ul li {
    margin-right: 56px;
}

.footer-nav-menu ul li:last-child {
    margin-right: 0;
}

.footer-nav-menu ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.footer-nav-menu ul li a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.footer-logo {
    margin: 96px auto 92px auto;
}

@media screen and (max-width: 1500px) {
    body {
        zoom: 78.125%;
    }
}

@media screen and (max-width: 1280px) {
    body {
        zoom: 66.6%;
    }
}

@media screen and (max-width: 992px) {
    body {
        zoom: 51.6%;
    }
}

@media screen and (max-width: 820px) {
    body {
        zoom: 42.7%;
    }
}

@media screen and (max-width: 768px) {
    body {
        zoom: 40%;
    }
}

@media screen and (max-width: 430px) {

    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 24px;
        margin-right: 20px;
        z-index: 2;
    }

    .header-burger-ghost {
        width: 50px;
        height: 24px;
        display: block;
    }
    .header-burger-span {
        position: absolute;
        background-color: #000;
        width: 100%;
        height: 4px;
        left: 0;
        top: 10px;
        border-radius: 49px;
        transition: all 0.3s ease 0s;
    }
    .header-burger::before,
    .header-burger::after {
        content: "";
        position: absolute;
        background-color: #000;
        width: 100%;
        height: 4px;
        left: 0;
        border-radius: 49px;
        transition: all 0.3s ease 0s;
    }
    .header-burger::before {
        top: 0;
    }
    
    .header-burger::after {
        bottom: 0;
    }

    .header-burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header-burger.active::after {
        transform: rotate(-45deg);
        top: 9px;
    }

    .header-burger.active span {
        transform: scale(0);
    }

    .nav-menu {
        position: fixed;
        top: 64px;
        /* top: 0; */
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px) contrast(100%);
        -webkit-backdrop-filter: blur(10px) contrast(100%);
        z-index: 1;
        display: none;
    }

    .menu-button {
        position: fixed;
        padding: 7px, 18px, 7px, 18px;
        font-size: 20px;
        z-index: 2;
        top: 710px;
        margin: 0 112px;
        display: none;
    }

    .nav-menu ul{
        display: flex;
        flex-direction: column;
        gap: 56px;
        align-items: flex-end;
        margin-top: 227px;
        font-size: 20px;
        font-weight: 570;
        /* position: relative; */
    }

    .nav-menu ul li:first-child {
        display: inline;
    }

    .nav-menu ul li img {
        padding-right: 16px;
    }

    .nav-menu ul li {
        margin-right: 52px;
    }
    
    .nav-menu ul li:last-child {
        margin-right: 52px;
    }

    .nav-menu ul li a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    }

    body {
        zoom: 1;
        background-color: rgba(255, 255, 255, 1);
        max-width: 430px;
        margin: 0;
        overflow-x: hidden;
    }

    body.lock {
        overflow: hidden;
    }

    .header-banner {
        border-radius: 0;
        margin: 0;
        max-width: 430px;
    }

    .header-banner::before {
        content: "";
        position: absolute;
        top: 35px;
        left: -272px;
        width: 342px;
        height: 342px;
        border-radius: 50%;
        background-color: rgba(255, 221, 45, 0.6);
        filter: blur(40px);
        z-index: -1;
    }
    
    .header-banner::after {
        content: "";
        position: absolute;
        top: 200px;
        left: 285px;
        width: 310px;
        height: 310px;
        border-radius: 50%;
        background-color: rgba(19, 29, 247, 0.15);
        filter: blur(60px);
        z-index: -1;
    }

    .menu {
        max-width: 100%;
        border-radius: 0;
        margin: 0;
        height: 64px;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 0px;
        font-weight: 400;
        font-size: 24px;
        box-shadow: none;
    }

    .logo {
        margin: 0 auto;
        z-index: 2;
    }

    .banner-1 {
        max-width: 430px;
        padding-top: 130px;
        margin: 0;
        padding: 0;
        margin: 0 20px;
        margin-top: 112px;
    }
    
    .banner-cover {
        display: flex;
        flex-direction: column;
    }
    
    .banner-text {
        width: 100%;
    }
    
    .banner-main {
        color: #000;
        font-weight: 500;
        font-size: 32px;
    }
    
    .graphics_gs::after {
        display: none;
    }
    
    .banner-post {
        padding-top: 26px;
        padding-bottom: 20px;
        font-size: 14px;
    }
    
    .button:hover {
        background-color: rgba(0, 71, 255, 1);
    }

    .button:active {
        background-color: rgba(0, 57, 203, 1);
    }
    
    .banner-button {
        padding-bottom: 20px;
    }
    
    .banner-link {
        font-size: 15px;
        font-weight: 400;
        padding: 5px 18px;
        box-shadow: 0 0 15.1px rgba(0, 117, 255, 0.28);
    }

    .banner-img img{
        width: 430px;
    }

    .marketing-block {
        position: relative;
        margin-top: 23px;
        max-width: 404px;
        height: 161px;
        box-shadow: 0 17px 40px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        overflow: hidden;
        z-index: -1;
        
    }
    
    .arrow-button {
        display: none;
    }
    
    .marketing-img
    {
        width: 405px;
        object-fit: cover;
    }

    .about {
        border-radius: 40px;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
        z-index: 1;
        overflow: hidden;
        margin-top: 65px;
        width: max(430px);
    }
    
    .graphics_about {
        position: relative;
        z-index: 0;
    } 
    
    .graphics_about::before {
        content: "";
        background-image: url("../image/graphics_underline/graphics_underline_mb/line-about.svg");
        width: 100%;
        /* width: 300px; */
        height: 100%;
        /* height: 35px; */
        background-repeat: no-repeat;
        position: absolute;
        /* top: 115px; */
        top: 100%;
        stroke-width:4px;
    }
    
    .graphics_about::after {
        content: "";
        background-image: url("../image/graphics_underline/graphics_underline_mb/point-about.svg");
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        position: absolute;
        top: 73%;
        /* top: 85px; */
        right: -12%;
        /* right: -35px; */
    }
    
    .about-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 430px;
        margin: 0 auto;
        padding-top: 13px;
        padding-bottom: 29px;
    }
    
    .about::before {
        content: "";
        position: absolute;
        top: -47px;
        left: 310px;
        width: 417px;
        height: 182px;
        border-radius: 50%;
        background-color: rgba(255, 233, 35, 1);
        filter: blur(25px);
        z-index: -1;
    }
    
    .about::after {
        content: "";
        position: absolute;
        top: 420px;
        left: -253px;
        width: 396px;
        height: 182px;
        border-radius: 50%;
        background-color: rgba(255, 233, 35, 1);
        filter: blur(25px);
        z-index: -1;
    }
    
    .about-title {
        font-size: 32px;
        font-weight: 700;
        z-index: 0;
    }
    
    .two_nap {
        font-size: 24px;
        font-weight: 600;
    }
    
    .about-text p {
        font-size: 14px;
        font-weight: 400;
        color: rgba(47, 47, 47, 1);
    }
    
    .advantages {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: max(390px);
    }
    
    .advantages-item {
        text-align: center;
        /* align-items: center; */
    }
    
    .advantage-figure-number {
        font-weight: 700;
        font-size: 48px;
        color: rgba(255, 235, 52, 1);
    }
    
    .advantage-figure-text {
        font-weight: 500;
        font-size: 14px;
        color: rgba(91, 91, 91, 1);
    }





    .directions {
        max-width: 390px;
        margin: 0;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 60px;
    }
    
    .direction-programming::before {
        display: none;
    }
    
    .direction-programming::after {
        display: none;
    }
    
    .direction-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 53px;
        padding-bottom: 60px;
    }
    
    .direction-title {
        font-size: 32px;
    }
    
    .graphics_direction-title {
        position: relative;
        z-index: 0;
    }
    
    .graphics_direction-title::before {
        content: "";
        background-image: url("../image/graphics_underline/graphics_underline_mb/line-prog.svg");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 100%;
        left: -1.5%;
    }
    
    .graphics_direction-title::after {
        content: "";
        background-image: url("../image/graphics_underline/graphics_underline_mb/point-prog.svg");
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        position: absolute;
        top: 73%;
        right: -3%;
    }
    
    .number-direction {
        font-size: 16px;
    }

    .cards-directions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    
    .card {
        text-align: center;
        background: white;
        border-radius: 10px;
        max-width: 190px;
    }
    
    .card-img {
        width: 65%;
    }
    
    .card:hover {
        .card-img {
            bottom: 5px;
        }
    }
    
    .card-body {
        border-radius: 10px;
        padding: 7px 7px 20px 7px;
        background-color: #F4F4F4;
    }
    
    .card-title-programmer {
        font-size: 20px;
        padding-bottom: 6px;
    }
    
    .card-text {
        font-size: 10px;
        padding-bottom: 20px;
    }
    
    .card-button-programmer {
        font-size: 14px;
        padding: 3px 7px;
    }
    
    .button-direction-programmer {
        padding-top: 32px;
    }
    
    .directions-link {
        cursor: pointer; 
        font-size: 20px;
        padding: 5px 18px;
        box-shadow: 0 0 41px rgba(0, 117, 255, 0.18);
    }
    
    .direction-disign {
        padding-top: 92px;
    }
    
    .direction-disign::before {
        display: none;
    }
    
    .direction-disign::after {
        display: none;
    }
    
    .direction-header-disigner {
        display: flex;
        flex-direction: row;
        align-items:flex-end;
        justify-content: space-between;
        padding-bottom: 75px;
    }
    
    .graphics_direction-title-design {
        position: relative;
        z-index: 0;
    }
    
    .graphics_direction-title-design::before {
        content: "";
        background-image: url("../image/graphics_underline/graphics_underline_mb/line-design.svg");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 100%;
    }
    
    .graphics_direction-title-design::after {
        content: "";
        background-image: url("../image/graphics_underline/graphics_underline_mb/point-design.svg");
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        position: absolute;
        top: 73%;
        right: -9%;
    }
    
    .cards-directions-disigner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    
    .card-title-disigner {
        font-size: 20px;
        padding-bottom: 6px;
    }
    
    .card-button-disigner {
        font-size: 14px;
        padding: 3px 7px;
    }
    
    .card-button-disigner:hover {
        background-color: rgba(255, 221, 45, 1);
    }

    .card-button-disigner:active {
        background-color: rgba(227, 192, 13, 1);
    }




    .form-container {
        flex-direction: column;
        align-items: center;
        margin: 0;
        max-width: 390px;
        margin-right: 20px;
        margin-left: 20px;
        padding: 0;
        margin-top: 80px;
        box-shadow: none;
        border-radius: 20px;
        justify-content: flex-start;
    }

    .form-container img{
        width: 200px;
    }

    .container-img {
        width: 100%;
        text-align: center;
    }
    
    .form-container::before {
        content: "";
        position: absolute;
        top: -120px;
        left: -272px;
        width: 354px;
        height: 354px;
        border-radius: 50%;
        background-color: rgba(0, 56, 255, 0.63);
        filter: blur(130px);
        z-index: -1;
    }
    
    .form-container::after {
        content: "";
        position: absolute;
        top: 400px;
        left: 300px;
        width: 354px;
        height: 354px;
        border-radius: 50%;
        background-color: rgba(255, 215, 11, 1);
        filter: blur(100px);
        z-index: -1;
    }
    
    .form {
        gap: 24px;
    }
    
    .form-label {
        font-size: 16px;
        padding-left: 8px;
    }
    
    input::-webkit-input-placeholder {
        font-size: 12px;
    }
    
    input:-moz-placeholder {
        font-size: 12px;
    }
    
    .form-input {
        font-size: 12px;
        height: 40px;
        padding: 0 19px;
        width: 327px;
    }

    .form-direction {
        padding-bottom: 35px;
    }
    
    .submit-button {
        font-size: 15px;
        padding: 5px 18px;
        box-shadow: 0 0 15.1px rgba(0, 117, 255, 0.28);
    }

    .submit-button-div {
        padding-bottom: 35px;
    }






    .faq-container {
        max-width: 390px;
        margin: 0;
        padding: 0;
        margin-top: 43px;
        /* padding-left: 20px;
        padding-right: 20px; */
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .details {
        margin-bottom: 12px;
    }
    
    .details[open] {
        padding-bottom: 12px;
    }
    
    .faq-answer {
        font-size: 13px;
        border-radius: 0 0 20px 20px;
        padding: 30px 10px 14px;
        margin-bottom: -10px;
        margin-top: -20px;
    }
    
    .faq-header {
        height: 40px;
        font-size: 14px;
        padding: 0 12px;
    }
    
    .faq-toggle {
        width: 30px;
        height: 30px;
    }

    .toggle-img {
        width: 17.5px;
    }





    .feedback-container {
        margin: 0;
        margin-top: 43px;
        background: linear-gradient(to right, rgba(0, 8, 211, 1), rgba(23, 33, 255, 1));
        border-radius: 20px;
        max-width: 430px;
    }
    
    .feedback-content {
        margin: 0;
        padding: 5px 0 22px 20px;
    }
    
    .feedback-header {
        gap: 62px;
    }
    
    .feedback-title {
        font-size: 48px;
    }
    
    .graphics_feedback-title::before {
        content: "";
        background-image: url("../image/graphics_underline/graphics_underline_mb/line-fb.svg");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 90%;
        /* top: 105px; */
    }
    
    .graphics_feedback-title::after {
        content: "";
        background-image: url("../image/graphics_underline/graphics_underline_mb/point-fb.svg");
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        position: absolute;
        top: 73%;
        /* top: 85px; */
        right: -8%;
        /* right: -35px; */
    }
    
    .feedback-number {
        font-size: 20px;
    }
    
    .cards-feedback {
        padding-top: 55px;
        display: flex;
        flex-flow: row nowrap;
        gap: 12px;
    }
    
    .card-feedback {
        height: 315px;
    }
    
    .card-feedback-header {
        padding: 10px 23px;
    }
    
    .first-name {
        font-size: 24px;
    }
    
    .last-name {
        font-size: 16px;
    }
    
    .card-feedback-body {
        padding: 0 18px 20px;
        font-size: 11px;
        line-height: 16.5px;
    }
    
    .feedback-buttons {
        display: none;
    }





    .adress-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
        border-radius: 80px;
        max-width: 1520px;
        margin: 148px auto 0 auto;
        padding: 20px 20px 20px 60px;
        display: none;
    }

    .adress-container-mobile {
        display: inline;
        margin: 0;
    }

    .adress-content {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        max-width: 390px;
        margin: 0;
        margin-top: 41px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .adress-title {
        font-size: 40px;
        text-align: center;
        padding-top: 20px;
    }
    
    .adress-item {
        padding: 0 16px 20px 16px;
        gap: 15px;
        font-size: 20px;
    }

    .adress-icon img {
        width: 20px;
    }

    .rasp-icon img{
        width: 20px;
    }
    
    .adress-title + .adress-item {
        padding-top: 26px;
    }
    
    .adress-item + .adress-item {
        padding-top: 20px;
    }
    
    .adress-map {
        text-align: center;
        margin: 26px 5px;
    }
    
    iframe {
        border-radius: 20px;
        max-width: 380px;
        max-height: 254px;
    }
    
    .button-end {
        padding-top: 100px;
        padding-bottom: 100px;
        /* text-align: center; */
        align-items: center;
    }
    
    .end-link {
        font-size: 32px;
        padding: 7px 18px;
    }





    .footer {
        border-radius: 20px 20px 0 0;
        max-width: 430px;
    }
    
    .footer-nav-menu {
        padding-top: 44px;
    }
    
    .footer-nav-menu ul {
        display: flex;
        flex-direction: column;
        align-items: end;
        list-style-type: none;
        gap: 56px;
    }
    
    .footer-nav-menu ul li {
        margin-right: 52px;
    }
    
    .footer-nav-menu ul li:last-child {
        margin-right: 52px;
    }

    .footer-nav-menu ul li a:hover {
        border-bottom: 0 solid rgba(255, 255, 255, 1);
    }

    .footer-nav-menu ul li a:active {
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }
    
    .footer-logo {
        margin: 189px auto 98px auto;
    }
}
